* {
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

body {
	background: f1bff;
}

.card-body p{
	font-weight: 50;
}

.card-body h3 {
	font-size: 30px;
	font-weight: 50;
}

.card-body a {
	text-decoration: none;
	color: rgb(145, 0, 0) !important;
	padding: 0.8rem;
	border: 1px solid rgb(145, 0, 0);
}

.location {
	background-color: #e4e4e4;
}

.location h3 {
	font-weight: 10;
}

.location p {
	font-weight: 50;
}

.map-area {
	width: 400px;
	height: 400px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35);
}

.map-area iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.find h3 {
	font-weight: bold;
	font-size: 45px;
}

.find a {
	text-decoration: none;
	color: #000;
}

.contact-area h3 {
	font-weight: 100;
	font-size: 30px;
	margin-left: 70px;
}

.contact-area p {
	font-weight: 40;
	font-size: 17px;
	margin-left: 70px;
}

.contact-area a {
	text-decoration: none;
	color: #000;

}

.page-section {
	padding: 8rem 0;
	font-size: 20px;
	font-weight: 50;
	background-color: #ededed;
}

.page-section h1 {
	font-weight: 100;
	font-size: 40px;
}

.page-section h2 {
	font-weight: 100;
	font-size: 35px;
}

.page-section p {
	font-weight: 50;
	letter-spacing: 0.5px;
}

.card-body a:hover {
	text-decoration: none;
	color: white;
	background-color: rgb(145, 0, 0);
	padding: 0.8rem;
	border: 1px solid rgb(145, 0, 0);
	transition-duration: 1s;
}

.section-padding {
	padding: 100px 0;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 90px;
	padding: 15px;
	z-index: 2;
}

.carousel-caption h2 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 80px;
	font-weight: 100;
}


.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-weight: 50;
}

.carousel-caption a {
	font-size: 20px;
	font-weight: 400;
	padding: 5px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.carousel-inner::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#mainNav {
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.30);
	background-color: #fff;
	transition: background-color 1s ease;
  }

.navbar-light .navbar-brand {
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	padding: 1rem 0;
} 

@media only screen and (min-width: 100px) and (max-width: 595px) {
.navbar-light .navbar-brand {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	padding-left: 20px;
}

.map-area {
	width: 300px;
	height: 200px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35);
}

.map-area iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.find h3 {
	font-weight: 100;
	font-size: 30px;
}

.find p {
	font-weight: 50;
	font-size: 15px;
}

footer {
	padding-left: 15px;
}

}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}

.navbar-brand .text-danger {
	font-weight: 600;
	font-weight: bold;
}

.navbar ul li a {
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li:hover {
	background-color: rgb(230, 230, 230);
	border-radius: 6px;
}


.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #000;
}

.navbar-light .navbar-nav .navbar-link {
	color: #000;
}


.w-100 {
	height: 120vh;
	object-fit: cover;
	margin-top: 60px;
}

@media only screen and (min-width: 100px) and (max-width: 576px) {
	.w-100 {
		object-fit: cover;
		margin-top: 60px;
		height: 100vh;
		
	}

	.carousel-caption h2 {
		font-size: 40px;
	}

	.carousel-caption {
		padding-bottom: 50px;
		font-size: 20px;
	}

	.page-section2 h3 {
		font-weight: 100;
		font-size: 27px;
	}

	.page-section2 p {
		font-weight: 60;
		font-size: 18px;
	}

	.page-section h1 {
		font-size: 30px;
	}

	}


/* Mød os section */
.team .card-body h3{
	font-size: 25px;
}

.team .card-body p{
	font-size: 15px;
}

.copyright p{
	background-color: #a0a0a0;
	color: #fff;
	padding: 2rem;
}

/* responsive css */
@media only screen and (min-width: 993px) and (max-width: 1396px) {
	.carousel-caption {
		bottom: 150px;
	}

	.carousel-caption p {
		width: 100%;
	}

	.contact-area h3 {
		font-size: 30px;
	}

	.find h3 {
		font-weight: 100;
		font-size: 35px;
		padding-left: 20px;
	}

	.find p {
		font-weight: 50;
		padding-right: 300px;
		padding-left: 20px;
	}

	.map-area {
		width: 600px;
		height: 420px;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.35);
	}
	
	.map-area iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

}

/* for medium size */
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.carousel-caption {
		bottom: 150px;
	}

	.carousel-caption p {
		width: 100%;
	}

	.contact-area h3 {
		font-size: 30px;
	}

	.find h3{
		font-weight: 100;
		font-size: 30px;
		padding-right: 120px;
	}


	.find p{
		font-weight: 50;
		font-size: 15px;
		padding-right: 120px;
	}

}

/* for small size */
@media only screen and (max-width: 767px){
	.navbar-nav {
		text-align: center;
	}
	
	.carousel-caption {
		bottom: 125px;
	}
	
	.carousel-caption h5 {
		font-size: 35px;
	}
	
	.carousel-caption a {
		padding: 10px 15px;
	}

	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 20px;
	}

	.map-area {
		width: 85%;
		float: center;
	}

	.contact-area h3 {
		font-size: 30px;
	}

	.contact-area p {
		font-size: 20px;
		padding-right: 10rem;
		
	}

}

.page-section2 {
	padding: 6rem 0;
	font-size: 20px;
	font-weight: 50;
	background-color: #ffffff;
}

.page-section2 h1 {
	font-weight: 100;
	font-size: 40px;
}

.page-section2 h2 {
	font-weight: 100;
	font-size: 40px;
}

.page-section2 a {
	text-decoration: none;
	color: #000;
	font-weight: 300;
}



.faq {
	padding-top: 0.2rem;
	padding-bottom: 8rem ;
}

.page-section .faq-header {
	padding-left: 50px;
}

.accordion-body p {
	font-weight: 80;
	font-size: 15px;
}

.pic::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.text-secondary {
	font-weight: 800;
}

footer p {
	font-weight: 300;
}

#mainfooter a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.row a {
	text-decoration: none;
	color: #000;
}